@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/*    Style pour chaque police de Wordpress. */
.selection-menu {
  --e-global-color-primary: #b7b8a5;
  --e-global-color-secondary: #273043;
  --e-global-color-text: #7a7a7a;
  --e-global-color-accent: #e7d89f;
  --e-global-color-0aa45be: #000000;
  --e-global-color-612e980: #273043;
  --e-global-color-78fd9a6: #ffffff;
  --e-global-color-0fc9762: #b7b8a5;
  --e-global-color-7c1812c: #e7d89f;
  --e-global-color-7b6c9a2: #edede8;
  --e-global-color-5eaf9c2: #f4f5f8;
  --e-global-color-45bf206: #c7b9a6;
  --e-global-color-f54bda1: #f4a469;
  --e-global-color-fecde5d: #ee8339;
  --e-global-color-facc16e: #fffaf7;
  --e-global-color-c8f7fa8: #748752;
  --e-global-color-03084f2: #f0f1db;
  --e-global-color-287e948: #b6c369;
  --e-global-color-b335789: #fefffe;
  --e-global-typography-primary-font-family: "Open Sans";
  --e-global-typography-primary-font-weight: 700;
  --e-global-typography-secondary-font-family: "Open Sans";
  --e-global-typography-secondary-font-weight: 400;
  --e-global-typography-secondary-line-height: 1.25em;
  --e-global-typography-secondary-letter-spacing: 0.2em;
  --e-global-typography-text-font-family: "Sarabun";
  --e-global-typography-text-font-weight: 400;
  --e-global-typography-accent-font-family: "Open Sans";
  --e-global-typography-accent-font-weight: 900;
  --e-global-typography-02f76c9-font-family: "Open Sans";
  --e-global-typography-02f76c9-font-size: 0.8rem;
  --e-global-typography-02f76c9-font-weight: 400;
  --e-global-typography-942e05b-font-family: "Open Sans";
  --e-global-typography-942e05b-font-size: 2rem;
  --e-global-typography-942e05b-font-weight: 700;
  --e-global-typography-0e8c1da-font-family: "Sarabun";
  --e-global-typography-0e8c1da-font-size: 18px;
  --color-weekSelection-selected: var(--e-global-color-287e948);
  --color-weekSelection-unselected: var(--e-global-color-45bf206);
  --color-weekSelection-selectionMade: var(--e-global-color-287e948);
  --color-weekSelection-skip: var(--e-global-color-fecde5d);
  --color-day-title-unavailable: var(--e-global-color-fecde5d);
  --color-day-box-unavailable: var(--e-global-color-f54bda1);
  --color-pret-a-bg-active: var(--e-global-color-287e948);
  --color-pret-a-bg-inactive: #e1e1e1;
  --color-pret-a-text-inactive: #aaaaaa;
  --color-app-bouton: var(--e-global-color-287e948);
}

.wp-font-primary {
  font-family: var(--e-global-typography-primary-font-family);
  font-weight: var(--e-global-typography-primary-font-weight);
}

.wp-font-secondary {
  font-family: var(--e-global-typography-secondary-font-family);
  font-weight: var(--e-global-typography-secondary-font-weight);
  line-height: var(--e-global-typography-secondary-line-height);
  letter-spacing: var(--e-global-typography-secondary-letter-spacing);
}

.wp-font-text {
  font-family: var(--e-global-typography-text-font-family);
  /*font-weight: var(--e-global-typography-text-font-weight);*/
}

.wp-font-accent {
  font-family: var(--e-global-typography-accent-font-family);
  font-weight: var(--e-global-typography-accent-font-weight);
}

.wp-font-02f76c9 {
  font-family: var(--e-global-typography-02f76c9-font-family);
  font-size: var(--e-global-typography-02f76c9-font-size);
  font-weight: var(--e-global-typography-02f76c9-font-weight);
}

.wp-font-942e05b {
  font-family: var(--e-global-typography-942e05b-font-family);
  font-size: var(--e-global-typography-942e05b-font-size);
  font-weight: var(--e-global-typography-942e05b-font-weight);
}

.wp-font-0e8c1da {
  font-family: var(--e-global-typography-0e8c1da-font-family);
  font-size: var(--e-global-typography-0e8c1da-font-size);
}

/* Style pour les couleurs de Wordpress*/
.wp-global-color-primary {
  color: var(--e-global-color-primary);
}

.wp-global-color-secondary {
  color: var(--e-global-color-secondary);
}

.wp-global-color-text {
  color: var(--e-global-color-text);
}

.wp-global-color-accent {
  color: var(--e-global-color-accent);
}

.wp-global-color-black {
  color: var(--e-global-color-0aa45be);
}

.wp-global-color-prussian-blue {
  color: var(--e-global-color-612e980);
}

.wp-global-color-white {
  color: var(--e-global-color-78fd9a6);
}

.wp-global-color-olive-drab {
  color: var(--e-global-color-0fc9762);
}

.wp-global-color-pale-gold {
  color: var(--e-global-color-7c1812c);
}

.wp-global-a-color-taupe-gray {
  color: var(--e-global-color-45bf206);
}

.wp-global-color-pale-orange {
  color: var(--e-global-color-f54bda1);
}

.wp-global-color-orange {
  color: var(--e-global-color-fecde5d);
}

.wp-global-color-forest-green {
  color: var(--e-global-color-c8f7fa8);
}

.wp-global-color-pale-forest-green {
  color: var(--e-global-color-287e948);
}

/** Style global pour le reste de l'application 
      METTRE VOS CHANGEMENT EN-DESSOUS !          */

.square {
  aspect-ratio: 1;
  border: 3px solid var(--color-weekSelection-unselected);
}

.square.selection_made {
  border-color: var(--color-weekSelection-selectionMade);
  background-color: var(--color-weekSelection-selectionMade);
}

.square.skip {
  border-color: var(--color-weekSelection-skip);
  background-color: var(--color-weekSelection-skip);
}

.square.active {
  border-color: var(--color-weekSelection-selected);
}

.title-unavailable {
  padding: 0.5em;
  background-color: var(--color-day-title-unavailable);
  color: #f0f1db;
}

.box-unavailable {
  max-height: 100%;
  background-color: var(--color-day-box-unavailable);
}

.pipe::before {
  content: "| ";
}

.selection-type-button.active {
  background-color: var(--color-pret-a-bg-active);
  color: var(--e-global-color-white);
}

.selection-type-button:not(.active) {
  background-color: var(--color-pret-a-bg-inactive);
  color: var(--color-pret-a-text-inactive);
}

.bouton-confirmation {
  background-color: var(--color-app-bouton) !important;
  color: var(--e-global-color-black) !important;
  border-radius: 6px !important;
  color: var(--e-global-color-black) !important;
}

.error-color {
  color: #ff0000;
}

.qty-field .v-field__field {
  align-items: center;
}

.error-style * {
  color: #FF0000;
}

.v-input__control .v-number-input__control {
  cursor: pointer;
}

.v-input__control .v-field {
  border: 1px solid grey;
  margin-right: 5px;
}

.v-card-text {
  display: flex;
  row-gap: 20px;
  flex-direction: column;
}

.qty-field .v-field{
  --v-input-padding-top:0;
  --v-field-padding-bottom:0;
}

.qty-field .v-field__input{
  border: none;
  padding: 0;
}

.qty-field .v-label.v-field-label--floating{
  top: 0;
}